@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

html {
  scroll-behavior: smooth;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

a {
  text-decoration: none;
  color: #221d23;
}
a:hover {
  color: #726f73;
}

nav {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 45px 0px;
}
nav ul {
  display: flex;
}

#nav__links {
  padding-top: 60px;
  display: none;
}
#nav__links i {
  display: none;
}
#nav__links object {
  padding-right: 0px;
}
#nav__links ul li {
  padding: 0px 10px;
}

@media (min-width: 768px) {
  #nav__links {
    display: flex;
    padding-top: 0px;
  }
}
.nav__menu {
  align-items: end;
}
@media (min-width: 768px) {
  .nav__menu {
    display: flex;
    align-items: center;
  }
  .nav__menu i {
    display: none;
  }
  .nav__menu object {
    padding-right: 10px;
  }
  .nav__menu ul li {
    padding: 0px 10px;
  }
}

.nav__buttons {
  display: none;
}

@media (min-width: 768px) {
  .nav__mobile {
    display: none;
  }

  .nav__buttons {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
.icon {
  display: block;
  position: absolute;
  right: 8%;
  top: 50px;
}

.nav__logo {
  width: 40px;
}

.container {
  margin: 0 auto;
  padding: 0 8%;
}

.container-fluid {
  margin: 0 auto;
  padding: 0;
}

.container-strech {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 8%;
  }

  .container-fluid {
    margin: 0 auto;
    padding: 0;
  }

  .container-strech {
    margin: 0 auto;
    padding: 0 20%;
  }
}
.d-flex {
  display: flex;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.col-sm-12 {
  grid-column: span 12;
}

.col-sm-11 {
  grid-column: span 11;
}

.col-sm-10 {
  grid-column: span 10;
}

.col-sm-9 {
  grid-column: span 9;
}

.col-sm-7 {
  grid-column: span 7;
}

.col-sm-6 {
  grid-column: span 6;
}

.col-sm-5 {
  grid-column: span 5;
}

.col-sm-4 {
  grid-column: span 4;
}

.col-sm-3 {
  grid-column: span 3;
}

.col-sm-2 {
  grid-column: span 2;
}

.col-sm-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.hero-section {
  background-image: url("../img/bg-hero.png");
  background-image: url("../img/bg-hero.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100vh 400px;
  height: 600px;
}
.hero-section h1 {
  margin-top: 50px;
}
.hero-section p {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .hero-section {
    background-image: url("../img/bg-hero.png");
    background-image: url("../img/bg-hero.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 1200px;
  }
  .hero-section h1 {
    margin-top: 200px;
  }
  .hero-section p {
    margin-top: 20px;
  }
}
footer {
  padding: 45px 0px;
  color: #fff;
  background-color: #221d23;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
footer ul {
  display: flex;
  justify-content: space-between;
}
footer ul li {
  padding: 0px 5px 0px;
}
footer p {
  text-align: center;
  padding: 45px 0px 0px;
}

@media (min-width: 768px) {
  footer ul {
    justify-content: start;
  }
  footer ul li {
    padding: 0px 45px 0px 0px;
  }
  footer p {
    text-align: right;
    padding: 0;
  }
}
button {
  color: #fff;
  background-color: #2ab7ca;
  font-family: "Raleway", sans-serif;
  border: none;
}
button:hover {
  background-color: #77d1dd;
}
button:focus {
  background-color: #c7c8cc;
}

nav button {
  padding: 10px 10px;
  margin-left: 20px;
}

.prices__buttons1 {
  padding: 15px 95px;
  margin-top: 20px;
}

.prices__buttons2 {
  padding: 15px 80px;
  margin-top: 20px;
}

.price__card1, .price__card2 {
  padding: 40px;
  background-color: #fff;
}
.price__card1:hover, .price__card2:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.3s ease-in-out;
}
.price__card1 h3, .price__card2 h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 15px;
}
.price__card1 h4, .price__card2 h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 15px;
}
.price__card1 ul, .price__card2 ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
.price__card1 ul li:before, .price__card2 ul li:before {
  content: "· ";
  font-size: 30px;
  vertical-align: middle;
  line-height: 20px;
}
.price__card1 ul li, .price__card2 ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.price__card1 {
  margin: 0 30px 60px;
}
.price__card1 ul {
  margin-bottom: 110px;
}

.price__card2 {
  margin: 0 30px 60px;
}

@media (min-width: 768px) {
  .price__card1, .price__card2 {
    padding: 40px;
    background-color: #fff;
  }
  .price__card1:hover, .price__card2:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transition: box-shadow 0.3s ease-in-out;
  }
  .price__card1 h3, .price__card2 h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 15px;
  }
  .price__card1 h4, .price__card2 h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 15px;
  }
  .price__card1 ul, .price__card2 ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .price__card1 ul li:before, .price__card2 ul li:before {
    content: "· ";
    font-size: 30px;
    vertical-align: middle;
    line-height: 20px;
  }
  .price__card1 ul li, .price__card2 ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.3px;
  }

  .price__card1 {
    margin: 0 40px 0 0;
  }
  .price__card1 ul {
    margin-bottom: 110px;
  }

  .price__card2 {
    margin: 0 0 0 40px;
  }
}
.responsive-image {
  width: 100%;
  height: auto;
}

.responsive-image-max {
  max-width: 100%;
  height: auto;
}

.main__features h2 {
  text-align: center;
  margin-bottom: 80px;
}
.main__features h3 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.main__bars {
  text-align: center;
}

.main__stadistics {
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 768px) {
  .main__features h2 {
    text-align: center;
    margin-bottom: 80px;
  }
  .main__features h3 {
    margin-bottom: 20px;
  }

  .main__bars {
    text-align: right;
    padding-right: 15%;
  }

  .main__stadistics {
    padding-left: 5%;
    padding-right: 26%;
  }
}
.price__title {
  margin-top: 280px;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
}

.prices--background {
  background-image: url("../img/bg-price.png");
  background-image: url("../img/bg-price.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

@media (min-width: 768px) {
  .prices--background {
    background-image: url("../img/bg-price.png");
    background-image: url("../img/bg-price.svg");
    background-repeat: no-repeat;
    background-position: 0px 20px;
    background-size: cover;
    height: 100vh;
  }
}
hr {
  height: 1px;
  border-width: 0;
  color: #bababa;
  background-color: #bababa;
  width: 98%;
  text-align: left;
  margin-left: 0;
}

/*# sourceMappingURL=styles.css.map */
